:root {
  /* ----- Guest ----- */
  /* Colors */
  --guest-background-color: #ffffff;
  --main-text-color: #121e2b;
  --main-button-background-color: #0885f3;

  /* Fonts */
  --font-main: 'Poppins', sans-serif;

  /* ------------------------------------------------------------------- */

  /* ----- Personal ----- */
  /* Colors */
  /* --personal-background-color: #f8f9fc;*/

  /* Fonts */
}
